<h1>Don't bother because it doesn't work</h1>
<h5>Upload your profile pic <code>Must be 200x200px</code>	</h5> 
	<form action ="/img-upload"	enctype="multipart/form-data" method="POST">
		<input name="file" type="file" />
		<input type="button" value="Upload" />
	</form><!--end_file Upload Form-->

	<!--  				    <div class="row">
				    	<div class="col-md-6">
            				<div class="panel with-nav-tabs panel-default">
                				<div class="panel-heading">
                        			<ul class="nav nav-tabs">
                            			<li class="active"><a href="#tab1default" data-toggle="tab">Default 1</a></li>
                            			<li><a href="#tab2default" data-toggle="tab">Default 2</a></li>
                            			<li><a href="#tab3default" data-toggle="tab">Default 3</a></li>
                            			<li class="dropdown">
                                		<a href="#" data-toggle="dropdown">Dropdown <span class="caret"></span></a>
                                			<ul class="dropdown-menu" role="menu">
                                    			<li><a href="#tab4default" data-toggle="tab">Default 4</a></li>
                                    			<li><a href="#tab5default" data-toggle="tab">Default 5</a></li>
                                			</ul>
                            			</li>
                        			</ul>
                				</div>
                				<div class="panel-body">
                    				<div class="tab-content">
                        			<div class="tab-pane fade in active" id="tab1default">Default 1</div>
                        			<div class="tab-pane fade" id="tab2default">Default 2</div>
                        			<div class="tab-pane fade" id="tab3default">Default 3</div>
                        			<div class="tab-pane fade" id="tab4default">Default 4</div>
                        			<div class="tab-pane fade" id="tab5default">Default 5</div>
                    			</div>
                			</div>
            			</div>
        			</div>	 
 -->

    
<!-- Nav tabs -->
<ul class="nav nav-tabs" role="tablist">
	
	<li class="active">
		<a href="#home" role="tab" data-toggle="tab">
			<icon class="fa fa-home"></icon> Home
		</a>
	</li>
	
	<li><a href="#profile" role="tab" data-toggle="tab">
			<i class="fa fa-user"></i> Profile
		</a>
	</li>
	
	<li>
		<a href="#messages" role="tab" data-toggle="tab">
			<i class="fa fa-envelope"></i> Messages
		</a>
	</li>

	<li>
		<a href="#settings" role="tab" data-toggle="tab">
			<i class="fa fa-cog"></i> Settings
		</a>
	</li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
	<div class="tab-pane fade active in" id="home">
		<h2>Home Content Goes Here</h2>
		<img src="http://lorempixel.com/400/400/cats/1" alt="Cats"/>
	</div>
	<div class="tab-pane fade" id="profile">
		<h2>Profile Content Goes Here</h2>
		<img src="http://lorempixel.com/400/400/cats/2" alt="Cats"/>
	</div>
	<div class="tab-pane fade" id="messages">
		<h2>Messages Content Goes Here</h2>
		<img src="http://lorempixel.com/400/400/cats/3" alt="Cats"/>
	</div>
	<div class="tab-pane fade" id="settings">
		<h2>Settings Content Goes Here</h2>
		<img src="http://lorempixel.com/400/400/cats/4" alt="Cats"/>
	</div>
</div>
    
