<form method="POST" action="/sign-up">

  <label for="email">email</label>
  <input type="text" name="email">
  <br/>

  <label for="password">Password</label>
  <input type="password" name="password">

  <br/>
  <input type="submit"> 
</form>