<br/>
<div class="row">
	<div class="container">
		<div clas="col-md-12 text-center">
			<div class="col-md-12 col-md-offset-0 text-center">
				<img src="/img/freuder.png" alt="Freuder" />
				<h1 class="freuder-logo">Freuder</h1>
				<div class="col-md-12 col-md-offset-0 text-center">
					
					<h3>Please sign-in:</h3>
		
					<div class="col-md-4 col-md-offset-4">
						<form method="POST" action="/sign-in">
						<div class="input-group input-group-lg">
							<span class="input-group-addon glyphicon glyphicon glyphicon-user"></span>
							<input type="text" class="form-control" placeholder="Username" name="username">
						</div><!--end_input-group-->
						<br/>

						<div class="input-group input-group-lg">
							<span class="input-group-addon glyphicon glyphicon-lock"></span>
							<input type="password" class="form-control" placeholder="Password" name="password">
						</div><!--end_input-group-->

						<br/>
						
						<button type="submit" class="btn btn-default btn-lg">
	  						<span class="glyphicon glyphicon glyphicon-log-in"></span> Log-In
						</button>

						</form>
						<br/>
						<p>or <a href="#">create an account</a></p>
					</div><!--end col-md-4 / formgroup-->
				</div><!--end_col-md-4-->
	
			</div><!--end_col-md-9-->
		</div><!--end_col-md-12-->

	</div><!--end_.container-->
</div><!--end_row-->