


/*SCSS Colors you will never see*/
$greyblue:#222D3A;
$greybluedark:#2c3e50;
$tealbg:rgb(20, 144, 120);
$highlight:rgba(211, 84, 0,1.0);
$clouds:rgba(236, 240, 241,1.0);
$concrete:rgba(149, 165, 166,1.0);
$silver:#d9ddde;
$logogreen:#33ffcc;



/*Globals*/
body
{
	background: $clouds;
	color:$greyblue;
	font-family: 'Lato', sans-serif;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
hr {border-color:$silver;margin-left:5em;margin-right:5em;}
h1 {font-weight:900;text-shadow: 2px 2px 8px rgba(51,51,51,0.3);}
h1.freuder-logo{font-family: 'Arapey', serif;font-size: 6em;font-weight: 200;}
::selection {background:$highlight;}
::-moz-selection {background:$highlight;}

/*Mix-Ins*/
a{-o-transition:.5s;-ms-transition:.5s;-moz-transition:.5s;-webkit-transition:.5s;tansition:.5s;}
.nav-tabs>li.active>a{background-color:none!important;}
.nav-tabs>li>a{background-color:white!important;}
.col-md-9.col-md-offset-1 text-center{background:$greybluedark;color:white;}
.alert { position: relative;z-index: 999999;left: -50%;}
.span {position: relative;display: block;}
.row{margin-right: 0px;margin-left: 0px;}
.col-md-10.col-md-offset-1
{
	margin-top:-1em;
}

.navbar-brand
 {
 	padding-top:0;
 	vertical-align: center;
 	img {padding-top:5px;}
 	h1{font-family: 'Arapey', serif;font-weight: normal;display:inline;background-image:url(/img/freuder-logo-icon.png);background-repeat:no-repeat;background-position:left center;padding-left:1.3em;}

 }


.navbar-inverse{background:$greybluedark!important;margin-bottom:0;}
.navbar 
{
	border-radius:0;
	ul
	{
		li
		{
			a
			{
				color:white!important;
			}
		}
	}
}


.navbar 
{
	ul
	{
		li
		{
			a:hover
			{
				color:$highlight!important;
			}
		}
	}
}

/*Custom*/
#header {padding:0;}
.dn_ad{position: absolute;left: 50%;}
#user{background-color:white;}
#profile_header
{
	margin-top:-10.3em; /*profile img must be 200x200px */
	img {border:1em $clouds solid;}
	h1{color:$greyblue;}
}
#dn_profile-block{float:none;margin:auto;}/*positioning the col-md-5 by removing the float and aligning the div to the middle - margin:auto hack*/
#dn_main-img{text-shadow: 0 -1px 0 rgba(0,0,0,.2);-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.15),0 1px 1px rgba(0,0,0,.075);box-shadow: inset 0 1px 0 rgba(255,255,255,.15),0 1px 1px rgba(0,0,0,.075);}
#dn_sign-up-img,#dn_main-img{border-radius: 50%;margin-top:2em;}
#dn_nav-pills
{
	color:white;
        span 
    	{
    		margin-top:1.3em;
    			a {color:white;}	
    	}
}  

#dn_nav-pills
{
	span:hover
	{	background-color:whtie;
		a {color:$highlight!important;text-decoration:none;}	
	}
}  
ul#dn_followers{list-style-type:none;text-align:center;}
ul#dn_followers > li a {float:left;margin:1em;}
ul#dn_followers > li img {width:100px;height:100px;}
#dn_user-pic{padding-left:0;}
h1#dn_user-full-name{margin-top:2em;text-shadow: 2px 2px 8px rgba(51,51,51,0.3);}
#profile_header
{
    ul
    {
        list-style-type:none;
        
    }
    .col-md-9
    {
        margin-top:9em;
    }
}


/*Tabs*/
#panel {background-color:white;}



/*Parallax*/
.parallax-section-1{background-position: center center;background-repeat: no-repeat;background-attachment: fixed;background-image:url(/img/dimanyc-wall_.jpg);height:20em;}

/*Sign-Up */
.profile {min-height: 355px;display: inline-block;}
figcaption.ratings
{
    margin-top:20px;
    }
figcaption.ratings a
{
    color:#f1c40f;
    font-size:11px;
    }
figcaption.ratings a:hover
{
    color:#f39c12;
    text-decoration:none;
    }
.divider 
{
    border-top:1px solid rgba(0,0,0,0.1);
    }
.emphasis 
{
    border-top: 4px solid transparent;
}
.emphasis:hover 
{
    border-top: 4px solid #1abc9c;
}
.emphasis h2
{
    margin-bottom:0;
}
span.tags 
{
    background: #1abc9c;
    border-radius: 2px;
    color: #f5f5f5;
    font-weight: bold;
    padding: 2px 4px;
}
.dropdown-menu 
{
    background-color: #34495e;    
    box-shadow: none;
    -webkit-box-shadow: none;
    width: 250px;
    margin-left: -125px;
    left: 50%;
}
.dropdown-menu .divider 
{
    background:none;    
}
.dropdown-menu>li>a
{
    color:#f5f5f5;
}
.dropup .dropdown-menu 
{
    margin-bottom:10px;
}
.dropup .dropdown-menu:before 
{
    content: "";
    border-top: 10px solid #34495e;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    position: absolute;
    bottom: -10px;
    left: 50%;
    margin-left: -10px;
    z-index: 10;
}

/*Profile*/


/*Panel tabs*/
.panel-tabs {
    position: relative;
    bottom: 30px;
    clear:both;
    border-bottom: 1px solid transparent;
}

.panel-tabs > li {
    float: left;
    margin-bottom: -1px;
}

.panel-tabs > li > a {
    margin-right: 2px;
    margin-top: 4px;
    line-height: .85;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
    color: #ffffff;
}

.panel-tabs > li > a:hover {
    border-color: transparent;
    color: #ffffff;
    background-color: transparent;
}

.panel-tabs > li.active > a,
.panel-tabs > li.active > a:hover,
.panel-tabs > li.active > a:focus {
    color: #fff;
    cursor: default;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background-color: rgba(255,255,255, .23);
    border-bottom-color: transparent;
}